<ion-header>
  <ion-navbar [class]="navBarClass">
     <button ion-button menuToggle *ngIf="tabsContainerIsRootView">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button (click)="goToNewVisitor()">
        <ion-icon name="add"></ion-icon>
      </button>
      <button ion-button (click)="loadVisitors()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ 'VISITORS.RECURRING.TITLE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-toolbar color="primary">
    <form [formGroup]="homesForm">
      <ion-list>
        <ion-item>
            <ion-label>{{ 'VISITORS.NEW.HOUSE_ID' | translate }}</ion-label>
             <ion-select [(ngModel)]="currentHome.id" formControlName="houseId">
                <ion-option *ngFor="let home of homes" [value]="home.id" [selected]="home.id == currentHome.id">{{home.name}}</ion-option>
            </ion-select> 
        </ion-item>
      </ion-list>
    </form>
  </ion-toolbar>
  <ion-list *ngIf="visitors.recurringVisitors.length">
    <visitor-item *ngFor="let visitor of visitors.recurringVisitors" [visitor]="visitor" (visitorEntry)="onVisitorEntry($event)"></visitor-item>
  </ion-list>
  <div *ngIf="!visitors.recurringVisitors.length" class="visitor-list-empty">
    {{ 'VISITORS.EMPTY_LIST' | translate }}
  </div>
</ion-content>