<ion-header>
  <ion-navbar color="secondary">
    <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ 'RESIDENT_HOME.TITLE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-grid *ngIf="security.isAdminUser">
      <ion-row>
          <ion-col width-50>
              <div class="menu-btn-container">
                  <button ion-button color="primary" block (click)="onNavOptionClick()">
                      <ion-icon name="basket"></ion-icon>
                      <div>{{ 'ADMIN_AMENITIES.MENU_TITLE' | translate }}</div>
                  </button>
              </div>
          </ion-col>
          <ion-col width-50>
              <div class="menu-btn-container">
                  <button ion-button color="primary" block (click)="onNavOptionClick()">
                      <ion-icon name="card"></ion-icon>
                      <div>{{ 'ADMIN_CHARGES.MENU_TITLE' | translate }}</div>
                  </button>
              </div>
          </ion-col>
      </ion-row>
        <ion-row>
          <ion-col width-50>
              <div class="menu-btn-container">
                  <button ion-button color="primary" block (click)="onNavOptionClick()">
                      <ion-icon name="people"></ion-icon>
                      <div>{{ 'ADMIN_USERS.MENU_TITLE' | translate }}</div>
                  </button>
              </div>
          </ion-col>
          <ion-col width-50>
              <div class="menu-btn-container">
                  <button ion-button color="primary" block (click)="onNavOptionClick(settingsPage)" class="small-font">
                      <ion-icon name="settings"></ion-icon>
                      <div>{{ 'SETTINGS.MENU_TITLE' | translate }}</div>
                  </button>
              </div>
          </ion-col>
      </ion-row>
  </ion-grid>
  <ion-grid *ngIf="security.isResidentUser">
      <ion-row>
          <ion-col width-50>
              <div class="menu-btn-container">
                  <button ion-button color="primary" block (click)="onNavOptionClick()">
                      <ion-icon name="basket"></ion-icon>
                      <div>{{ 'AMENITIES.MENU_TITLE' | translate }}</div>
                  </button>
              </div>
          </ion-col>
          <ion-col width-50>
              <div class="menu-btn-container">
                  <button ion-button color="primary" block (click)="onNavOptionClick()">
                      <ion-icon name="card"></ion-icon>
                      <div>{{ 'PAYMENTS.MENU_TITLE' | translate }}</div>
                  </button>
              </div>
          </ion-col>
      </ion-row>
        <ion-row>
          <ion-col width-50>
              <div class="menu-btn-container">
                  <button ion-button color="primary" block (click)="onNavOptionClick(visitorsPage, { homes: homes.userHomes })">
                      <ion-icon name="people"></ion-icon>
                      <div>{{ 'VISITORS.MENU_TITLE' | translate }}</div>
                  </button>
              </div>
          </ion-col>
          <ion-col width-50>
              <div class="menu-btn-container">
                  <button ion-button color="primary" block (click)="onNavOptionClick()">
                      <ion-icon name="information-circle"></ion-icon>
                      <div>{{ 'ALERTS.MENU_TITLE' | translate }}</div>
                  </button>
              </div>
          </ion-col>
      </ion-row>
        <ion-row>
          <ion-col width-50>
              <div class="menu-btn-container">
                  <button ion-button color="primary" block (click)="onNavOptionClick()">
                      <ion-icon name="construct"></ion-icon>
                      <div>{{ 'SERVICES.MENU_TITLE' | translate }}</div>
                  </button>
              </div>
          </ion-col>
          <ion-col width-50>
              <div class="menu-btn-container">
                  <button ion-button color="primary" block (click)="onNavOptionClick()">
                      <ion-icon name="person"></ion-icon>
                      <div>{{ 'MI_PROFILE.MENU_TITLE' | translate }}</div>
                  </button>
              </div>
          </ion-col>
      </ion-row>
  </ion-grid>
    <ion-grid *ngIf="security.isSecurityUser">
      <ion-row>
          <ion-col width-50>
              <div class="menu-btn-container">
                  <button ion-button color="primary" block (click)="onNavOptionClick(homesSearchPage)">
                      <ion-icon name="basket"></ion-icon>
                      <div>{{ 'SECURITY_VISITORS.MENU_TITLE' | translate }}</div>
                  </button>
              </div>
          </ion-col>
          <ion-col width-50>
              <div class="menu-btn-container">
                  <button ion-button color="primary" block (click)="onNavOptionClick(activeVisitorsPage)">
                      <ion-icon name="shuffle"></ion-icon>
                      <div>{{ 'ACTIVE_VISITORS.MENU_TITLE' | translate }}</div>
                  </button>
              </div>
          </ion-col>
      </ion-row>
        <ion-row>
          <ion-col width-50>
              <div class="menu-btn-container">
                  <button ion-button color="primary" block (click)="onNavOptionClick()">
                      <ion-icon name="information-circle"></ion-icon>
                      <div>{{ 'SECURITY_OTHER.MENU_TITLE' | translate }}</div>
                  </button>
              </div>
          </ion-col>
          <ion-col width-50>
              <div class="menu-btn-container">
                  <button ion-button color="primary" block (click)="onNavOptionClick(settingsPage)" class="small-font">
                      <ion-icon name="settings"></ion-icon>
                      <div>{{ 'SETTINGS.MENU_TITLE' | translate }}</div>
                  </button>
              </div>
          </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar color="dark">
    <ion-title>Koti</ion-title>
  </ion-toolbar>
</ion-footer>