home-page {
    ion-grid {
        max-width: 270px;
        margin-top: 20px;
        ion-row {
            margin-top: 10px;
            ion-col {
                div.menu-btn-container {
                    height: 120px;
                    width: 120px;
                    ion-icon {
                        font-size: 3.2em;
                        margin-bottom: 10px;
                    }
                    button.button {
                        font-size: 14px;
                        min-height: 100%;
                        .button-inner {
                            display: initial;
                        }
                        &.small-font {
                            font-size: 11px;
                        }
                    }
                }
            }
        }
    }
}