<ion-header>
  <ion-navbar>
    <ion-title>{{ 'VISITORS.NEW.TITLE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <form [formGroup]="visitorForm" (ngSubmit)="onSubmit()">
        <ion-list>
            <ion-item>
                <ion-label stacked>{{ 'VISITORS.NEW.HOUSE_ID' | translate }}</ion-label>
                <ion-select [(ngModel)]="visitor.homeId" formControlName="homeId">
                    <ion-option *ngFor="let home of homesCollection" [value]="home.id" [selected]="home.id == visitor.houseId">{{home.name}}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label stacked>{{ 'VISITORS.NEW.REGISTRATION_TYPE' | translate }}</ion-label>
                <ion-select [(ngModel)]="visitor.registrationType" formControlName="registrationType">
                    <ion-option *ngFor="let registrationType of registrationTypes" [value]="registrationType.type" [selected]="registrationType.type == visitor.registrationType">{{registrationType.text}}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label stacked>{{ 'VISITORS.NEW.ENTRY_TYPE' | translate }}</ion-label>
                <ion-select [(ngModel)]="visitor.entryType" formControlName="entryType">
                    <ion-option *ngFor="let entryType of entryTypes" [value]="entryType.type" [selected]="entryType.type == visitor.entryType">{{entryType.text}}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label floating>{{ 'VISITORS.NEW.NAME' | translate }}</ion-label>
                <ion-input type="text" [(ngModel)]="visitor.name" formControlName="name"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>{{ 'VISITORS.NEW.ID' | translate }}</ion-label>
                <ion-input type="text" [(ngModel)]="visitor.id" formControlName="id"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>{{ 'VISITORS.NEW.CAR_ID' | translate }}</ion-label>
                <ion-input type="text" [(ngModel)]="visitor.carId" formControlName="carId"></ion-input>
            </ion-item>
            <div padding>
                <button *ngIf="enableSave()" ion-button color="primary" block 
                        [disabled]="!visitorForm.valid || !validateVisitorEntryType()">
                    {{ 'BUTTONS.SAVE' | translate }}
                </button>
                <button ion-button color="primary" block 
                        *ngIf="enableNext()"
                        (click)="goToRecurringDays($event)"
                        [disabled]="!visitorForm.valid || !validateVisitorEntryType()">
                    {{ 'BUTTONS.NEXT' | translate }}
                </button>
            </div>
        </ion-list>
    </form>
</ion-content>