<ion-header>
  <ion-navbar [class]="navBarClass">
     <button ion-button menuToggle *ngIf="tabsContainerIsRootView">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button (click)="goToNewVisitor()">
        <ion-icon name="add"></ion-icon>
      </button>
      <button ion-button>
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{ 'VISITORS.PERMANENT.TITLE' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <visitor-item *ngFor="let visitor of visitors.permanentVisitors" [visitor]="visitor"></visitor-item>
  </ion-list>
</ion-content>