<ion-item-sliding #slidingItem>
    <ion-item>
        <h2>{{visitor.name}}</h2>
        <p>{{visitor.identification}}</p>
        <p *ngIf="visitor.carId">{{ 'VISITORS.NEW.CAR_ID' | translate }}: {{ visitor.carId }}</p>
        <div *ngIf="visitor.isRecurring()">
            <p class="days-label">{{getDaysLabels()}}</p>
            <p>{{formatTimeLabel()}}</p>
        </div>
    </ion-item>

    <ion-item-options>
         <button *ngIf="security.isSecurityUser" ion-button color="primary" (click)="notifyVisitorIsArriving(slidingItem, visitor)">
            {{ 'VISITORS.VISITOR.OPTIONS.IS_ARRIVING' | translate }}
        </button> 
        <button *ngIf="security.isResidentUser" ion-button color="danger" (click)="cancelVisitor(slidingItem, visitor)">
            {{ 'VISITORS.VISITOR.OPTIONS.CANCEL' | translate }}
        </button> 
    </ion-item-options>
</ion-item-sliding>