<ion-item-sliding #slidingItem>
    <ion-item>
        <h2>{{visitor.getFullName()}}</h2>
    </ion-item>

    <ion-item-options>
         <button *ngIf="security.isSecurityUser" ion-button color="primary" (click)="notifyVisitorIsArriving(slidingItem, visitor)">
            {{ 'VISITORS.VISITOR.OPTIONS.IS_ARRIVING' | translate }}
        </button> 
        <button *ngIf="security.isResidentUser" ion-button color="danger" (click)="cancelVisitor(slidingItem, visitor)">
            {{ 'VISITORS.VISITOR.OPTIONS.CANCEL' | translate }}
        </button> 
    </ion-item-options>
</ion-item-sliding>