<ion-item-sliding #slidingItem>
    <ion-item>
        <h2>{{visitor.name}}</h2>
        <p>{{visitor.identification}}</p>
        <p *ngIf="visitor.carId">{{ 'VISITORS.NEW.CAR_ID' | translate }}: {{ visitor.carId }}</p>
        <div *ngIf="visitor.isPermanent()">
            <p *ngIf="visitor.days" class="days-label">{{getDaysLabels()}}</p>
            <p *ngIf="visitor.property">{{formatTimeLabel()}}</p>
        </div>
        <p *ngIf="security.isSecurityUser && visitor.isActive && visitor.home">{{ 'ACTIVE_VISITORS.HOME' | translate }}: {{visitor.home.name}}</p>
    </ion-item>

    <ion-item-options>
         <button *ngIf="security.isSecurityUser && !visitor.isActive" ion-button color="primary" (click)="notifyVisitorIsArriving(slidingItem, visitor)">
            {{ 'VISITORS.VISITOR.OPTIONS.IS_ARRIVING' | translate }}
        </button> 
        <button *ngIf="security.isResidentUser" ion-button color="danger" (click)="cancelVisitor(slidingItem, visitor)">
            {{ 'VISITORS.VISITOR.OPTIONS.CANCEL' | translate }}
        </button> 
        <button *ngIf="security.isSecurityUser && visitor.isActive" ion-button color="danger" (click)="departureVisitor(slidingItem, visitor)">
            {{ 'VISITORS.VISITOR.OPTIONS.DEPARTURE' | translate }}
        </button> 
    </ion-item-options>
</ion-item-sliding>